<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova - Login</title>
    <link href="https://unpkg.com/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">


</head>

<body class="" style="background-image: url('main/2.jpg');background-repeat: no-repeat;background-size: cover;">
    <div id="app">
        <div class="py-2 px-4 sm:px-12 flex justify-between">
            <div class="bg-white rounded-full">
                <a v-if="NewCount == 0" href="javascript:history.back()" class="cursor-pointer text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="p-1 h-9 w-9" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
                </a>
            </div>
            <div class="bg-white rounded-full">
                <span v-if="NewCount != 0" @click="NewCount = 0, ClearMsg()" class="cursor-pointer text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700">
          <svg xmlns="http://www.w3.org/2000/svg" class="p-1 h-9 w-9" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </span>
            </div>
        </div>

        <img v-if="NewCount == 0" :src="SrcAssets +'logotipo/big-nova.png'" alt="" class="flex sm:hidden mx-auto flex align-center mt-4 w-24" loading="lazy">

        <div id="content" class="flex items-start justify-center" style="height: 80vh;display:none">

            <div v-if="NewCount == 0" class="w-full sm:w-3/4 md:w-3/5 lg:w-5/12 xl:w-4/12 2xl:w-1/4 py-1 md:py-5 px-4 sm:px-12 flex flex-wrap rounded-md" style="background-color: #ffffff;">

                <img :src="SrcAssets +'logotipo/big-nova.png'" alt="" class="hidden sm:flex mx-auto flex align-center mt-5 md:mt-16 w-24 md:w-24" loading="lazy">


                <h1 class="w-full text-xl md:text-2xl font-bold leading-tight my-6 flex justify-center">Ingreso</h1>

                <form @submit.prevent="LoginUserCount()" class="w-full" autocomplete="off">
                    <div>
                        <label class="block text-gray-700">Correo electrónico</label>
                        <input type="email" placeholder="Su correo electrónico" class="w-full px-4 py-2 rounded-lg bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none" v-model="UserEmail" autofocus autocomplete required>
                    </div>

                    <div class="mt-4">
                        <label class="block text-gray-700">Contraseña</label>
                        <input type="password" placeholder="Introducir la contraseña" minlength="6" maxlength="16" class="w-full px-4 py-2 rounded-lg bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none" v-model="UserPassword" required>
                    </div>

                    <div class="text-right mt-2">
                        <button @click="NewCount = 2, ClearMsg()" class="text-sm font-semibold text-gray-900 hover:text-blue-900 focus:text-blue-900">¿Has olvidado tu contraseña?</button>
                    </div>

                    <div class="w-full text-left mt-2">
                        <p class="font-semibold" :class="ClassStyle">{{ MsgResponse }}</p>
                    </div>

                    <button type="submit" class="w-full block bg-blue-900 hover:bg-blue-900 focus:bg-blue-900 text-white font-semibold rounded-lg px-4 py-2 mt-6">Iniciar sesión</button>
                </form>

                <hr class="my-6 border-gray-300 w-full">



                <div class="w-full text-center mt-4">
                    <p class="">No tiene cuenta? <span @click="NewCount = 1, ClearMsg()" class="cursor-pointer text-blue-900 hover:text-blue-900 font-semibold">Crea una cuenta</span></p>
                </div>
            </div>


            <div v-if="NewCount == 1" class="w-full sm:w-3/4 md:w-3/5 lg:w-5/12 xl:w-4/12 2xl:w-1/4 py-1 md:py-5 px-4 sm:px-12 flex flex-wrap rounded-md" style="background-color: #ffffff;">

                <img :src="SrcAssets +'logotipo/big-nova.png'" alt="" class="hidden sm:flex mx-auto flex align-center mt-5 md:mt-16 w-24 md:w-24" loading="lazy">


                <h1 class="w-full text-xl md:text-2xl font-bold leading-tight my-6 flex justify-center">Crear cuenta</h1>

                <form @submit.prevent="RegisterUser" class="w-full" autocomplete="off">

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">

                        <div>
                            <label class="block text-gray-700">Nombres</label>
                            <input type="text" placeholder="Su nombre" class="w-full px-4 py-2 rounded-lg bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none" v-model="UserNames" autofocus autocomplete required>
                        </div>

                        <div>
                            <label class="block text-gray-700">Apellidos</label>
                            <input type="text" placeholder="Su apellido" class="w-full px-4 py-2 rounded-lg bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none" v-model="UserLastNames" autofocus autocomplete required>
                        </div>

                    </div>





                    <div class="mt-2">
                        <label class="block text-gray-700">Dirección de correo electrónico </label>
                        <input type="email" placeholder="Su correo electrónico" class="w-full px-4 py-2 rounded-lg bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete required v-model="UserNewEmail">
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">



                        <div class="mt-2">
                            <label class="block text-gray-700">Contraseña</label>
                            <input type="password" placeholder="Contraseña" minlength="6" class="w-full px-4 py-2 rounded-lg bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none" required v-model="UserFirstPassword">
                        </div>

                        <div class="mt-2">
                            <label class="block text-gray-700">Confirme contraseña</label>
                            <input type="password" placeholder="Confirme contraseña" minlength="6" class="w-full px-4 py-2 rounded-lg bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none" required v-model="UserConfirmPassword">
                        </div>

                    </div>



                    <div class="text-left mt-2">
                        <a href="#" class="text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700">Al registrarme acepto los términos y condiciones</a>
                    </div>

                    <div class="w-full text-left mt-2">
                        <p class="font-semibold" :class="ClassStyle">{{ MsgResponse }}
                            <span v-if="ClassStyle == 'text-green-900' " @click="NewCount = 0, ClearMsg()" class="cursor-pointer text-blue-500 hover:text-blue-700 font-semibold">Ingresar</span>
                        </p>
                    </div>

                    <button type="submit" class="w-full block bg-blue-900 hover:bg-blue-900 focus:bg-blue-900 text-white font-semibold rounded-lg px-4 py-2 mt-4">Crear cuenta</button>
                </form>

                <hr class="my-6 border-gray-300 w-full">


            </div>



            <div v-if="NewCount == 2" class="w-full sm:w-3/4 md:w-3/5 lg:w-5/12 xl:w-4/12 2xl:w-1/4 py-1 md:py-5 px-4 sm:px-12 flex flex-wrap rounded-md" style="background-color: #ffffff;">

                <img :src="SrcAssets +'logotipo/big-nova.png'" alt="" class="hidden sm:flex mx-auto flex align-center mt-5 md:mt-16 w-24 md:w-24" loading="lazy">

                <h1 class="w-full text-xl md:text-2xl font-bold leading-tight my-6 flex justify-center">Recuperar contraseña
                </h1>
                <form @submit.prevent="RecuperateUserPassword()" class="w-full" autocomplete="off">
                    <div class="mt-2">
                        <label class="block text-gray-700">Dirección de correo electrónico </label>
                        <input type="email" placeholder="Correo electrónico de la cuenta" class="w-full px-4 py-2 rounded-lg bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete required v-model="EmailUserRecuperate">
                    </div>
                    <div class="text-left mt-2">
                        <span class="text-sm font-normal text-gray-700">Enviaremos un correo electrónico con las indicaciones para recuperar el acceso.</span>
                    </div>
                    <button type="submit" class="w-full block bg-blue-900 hover:bg-blue-900 focus:bg-blue-900 text-white font-semibold rounded-lg px-4 py-2 mt-4">Enviar correo</button>
                </form>
            </div>

            <div v-if="NewCount == 3" class="w-full sm:w-3/4 md:w-3/5 lg:w-5/12 xl:w-4/12 2xl:w-1/4 py-1 md:py-5 px-4 sm:px-12 flex flex-wrap rounded-md" style="background-color: #ffffff;">
                <img :src="SrcAssets+'loading/loading.svg'" alt="" class="bg-gray-100 mx-auto flex align-center w-20 md:w-24" loading="lazy">
            </div>

        </div>
    </div>

    <script>
        document.getElementById('content').style.display = 'flex';
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./main/app.js"></script>
</body>

</html>